---
import type { GetStaticPaths } from "astro";

import Button from "../../components/Button.astro";
import Hero from "../../components/Hero.astro";
import Placement from "../../components/Placement.astro";
import Layout from "../../layouts/Layout.astro";
import { Competitions, type Competition } from "../../loaders/Competitions";

export const getStaticPaths: GetStaticPaths = async () => {
    return (await Competitions.shared.list()).map((competition) => {
        return {
            params: { slug: competition.id },
            props: { competition },
        };
    });
};

type Props = {
    competition: Competition;
};

const { competition } = Astro.props;

// To-do: Sanitize HTML and Markdown from writeup
---

<Layout
    title={`${competition.name} | Competitions | Status 418`}
    description=""
>
    <!-- Hero -->
    <Hero
        title={competition.name}
        subtitle={competition.dateStart.toLocaleDateString("en-us", {
            year: "numeric",
            month: "long",
            day: "numeric",
        })}
    >
        <Button
            text="See on CTFTime"
            url={competition.eventUrl}
            target="_blank"
        />
    </Hero>

    <!-- Placement -->
    <section>
        <Placement
            competition={competition.name}
            position={competition.place!}
            total={competition.total}
            id={competition.id}
            link={false}
        />
    </section>
</Layout>

<style lang="scss">
    @use "../../styles/variables" as *;
</style>
