---
import { tagFor } from "../util/tags";
import Tag from "./Tag.astro";

interface Props {
  title: string;
  upper: string;
  snippet: string;
  tags: string[];
  preview: boolean;
}

const { title, upper, snippet, preview } = Astro.props;

const tags = Astro.props.tags.map((tag) => tagFor(tag, "border", !preview));
---

<>
  <span>{upper}</span>
  <h2>{title}</h2>
  <div>
    {
      tags.map((tag) => (
        <Tag text={tag.text} color={tag.color} type={tag.type} url={tag.url} />
      ))
    }
  </div>
  <p>{snippet}</p>
</>

<style lang="scss">
  @use "../styles/variables" as *;

  span {
    color: $foreground-secondary-color;
  }

  h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    display: block;
  }

  div {
    flex-direction: row;
    display: flex;
    gap: 8px;
    margin-top: 8px;
  }

  p {
    margin-top: 16px;
  }
</style>
